@import '../../styles/_variables.scss';
:host {
  display: block;
  position: relative;
}

// Section Hero avec fond et overlay
.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('/assets/calypso/images/bibImage-home.jpg') no-repeat center center;
  background-size: cover;
  margin-top:-15%!important;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.2);
  padding: 3rem;
  border-radius: 10px;
  color: white;
  width: 100%;
  height: 100vh;
}

.hero-section {
  position: relative;
  margin-top: 0;
}

// Ajustements responsifs
@media (max-width: 768px) {
  .hero-section {
    height: 50vh;
  }

  .search-bar {
    flex-direction: column;
    gap: 0.5rem;
  }

  .filter, .search-btn {
    width: 100%;
  }
}
