<div class="container-bib">
  <div class="card-group vgr-cards">
    <ng-container *ngIf="communitiesRD$ | async as communitiesRD">
      <ng-container *ngIf="communitiesRD?.hasSucceeded">
        <!-- Boucle sur chaque communauté -->
        <ng-container *ngFor="let community of communitiesRD?.payload?.page; let i = index">
          <!-- Récupérer les collections à partir du lien -->
          <ng-container *ngIf="collections$ | async as collections; else loadingContent">
            <ng-container *ngIf="collections.length > 0">
              <ng-container *ngFor="let collection of collections">
              <div class="card" *ngIf="collection?.vedette">
                <div class="card-img-body" >
                  <img class="card-img" [src]="collection.vedette"  alt="Item {{ community._name }}">
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{collection.title}}</h4>
                  <p class="card-text">{{collection.description}}</p>
                  <a [routerLink]="['/collections/', collection.id]" class="btn btn-outline-primary">Voir plus</a>
                </div>
              </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-template #loadingContent>
        <ds-loading message="{{ 'loading.top-level-communities' | translate }}"></ds-loading>
      </ng-template>
      <ds-error *ngIf="communitiesRD?.hasFailed" message="{{ 'error.top-level-communities' | translate }}"></ds-error>
    </ng-container>
  </div>
</div>
