/* Couleur du texte des liens par défaut */
.nav-link, .dropdown-item {
  color: #1f7293!important;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Pour enlever tout décalage */
}

.dropdown-menu {
  display: none; /* Masquer le sous-menu par défaut */
}

/* Ajouter un peu de délai pour un effet de survol plus doux */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  visibility: visible;
}
