<div class="container mt-4">
  <h1>{{ 'faq.titre' | translate }}</h1>
  <p [innerHTML]="'faq.description' | translate"></p>

  <div class='faq mt-4' #faq>
    <ng-container *ngIf="faqData$ | async as faqData">
      <div *ngFor="let item of faqData; let i = index">
        <!-- Chaque question est associée à un ID unique basé sur son index -->
        <input id='faq-{{ i }}' type='checkbox'>
        <label for='faq-{{ i }}'>
          <p class="faq-heading">{{ item.question }}</p>
          <div class='faq-arrow'></div>
          <p class="faq-text" [innerHTML]="item.answer"></p>
        </label>
      </div>
    </ng-container>
  </div>

  <ng-template #loading>
    <p>Loading FAQ data...</p>
  </ng-template>
</div>
