/* -------------------------------------------------------
   Variables pour le thème collspec
------------------------------------------------------- */
@import 'src/themes/collspec/styles/_variables.scss';

.hero-banner {
  width: 100%;
  margin-bottom: 20px;
  height: 40vh;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  z-index: 0;

  .hero-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #607386 5%, transparent 25%);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    z-index: 1;
  }

  .hero-content {
    position: absolute;
    bottom: -5%;
    left: 0;
    padding: 2rem;
    z-index: 2;
    max-width: 600px;

    .hero-title {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 0.75rem;
      color: $gray-100!important;
      &:hover {
        color: white;
      }
    }

    .hero-text {
      font-size: 1.125rem;
      line-height: 1.6;
      color: rgba(255, 255, 255, 0.9);
      margin-left: 20%;
    }
  }
}
